.episodios-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.episodio-card {
    background-color: #1A282D;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.episodio-card:hover {
    transform: scale(1.02);
}

.episodio-header {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #FFFFFF; /* Define a cor branca */
    text-align: center;
}
