
.scroll-container-pc {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /*cursor: pointer;*/
    user-select: none;
    scroll-behavior: smooth;
  
    /* Ocultar a barra de rolagem em navegadores WebKit (Chrome, Safari) */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
  
.scroll-item-pc {
    position: relative;
    /*margin: 0 10px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
    background: #1A282D;
    border-radius: 6px;
    min-width: 175px;
    height: 250px;
    text-align: center;
    cursor: pointer;
}
  
.img-poster-pc {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 6px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}
  
/* Estilos para o overlay */
.overlay-pc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.scroll-item-pc:hover{
    border: 2px solid #808080;
}


.text-ep-pc {
    font-weight: 600;
    color: #fff;
    font-size: 1.3rem;
}
  
